---
repos:
  - repo: local
    hooks:
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        files: Dockerfile

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        files: ^.*\.sh$
